XSD/BOD/Messages/CCOMElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.mimosa.org/ccom4"
	targetNamespace="http://www.mimosa.org/ccom4"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="4.1.0">

	<xs:include schemaLocation="../../CCOM.xsd"/>

	<xs:element name="ActiveWork" type="ActiveWork"/>
	<xs:element name="ActualEvent" type="ActualEvent"/>
	<xs:element name="Agent" type="Agent"/>
	<xs:element name="AgentRole" type="AgentRole"/>
	<xs:element name="AgentRoleType" type="AgentRoleType"/>
	<xs:element name="AgentRoleWithAgent" type="AgentRoleWithAgent"/>
	<xs:element name="AgentRoleWithAssessment" type="AgentRoleWithAssessment"/>
	<xs:element name="AgentRoleWithAsset" type="AgentRoleWithAsset"/>
	<xs:element name="AgentRoleWithEvent" type="AgentRoleWithEvent"/>
	<xs:element name="AgentRoleWithSegment" type="AgentRoleWithSegment"/>
	<xs:element name="AgentRoleWithWork" type="AgentRoleWithWork"/>
	<xs:element name="AgentType" type="AgentType"/>
	<xs:element name="Algorithm" type="Algorithm"/>
	<xs:element name="AlgorithmProcessType" type="AlgorithmProcessType"/>
	<xs:element name="AmbiguitySet" type="AmbiguitySet"/>
	<xs:element name="AmbiguitySetType" type="AmbiguitySetType"/>
	<xs:element name="Assessment" type="Assessment"/>
	<xs:element name="Asset" type="Asset"/>
	<xs:element name="AssetComponent" type="AssetComponent"/>
	<xs:element name="AssetConnection" type="AssetConnection"/>
	<xs:element name="AssetMesh" type="AssetMesh"/>
	<xs:element name="AssetModelEvent" type="AssetModelEvent"/>
	<xs:element name="AssetOwnerEvent" type="AssetOwnerEvent"/>
	<xs:element name="AssetSegmentEvent" type="AssetSegmentEvent"/>
	<xs:element name="AssetType" type="AssetType"/>
	<xs:element name="AssetTypeForSegmentType" type="AssetTypeForSegmentType"/>
	<xs:element name="Attribute" type="Attribute"/>
	<xs:element name="AttributeDefinition" type="AttributeDefinition"/>
	<xs:element name="AttributeGroup" type="AttributeGroup"/>
	<xs:element name="AttributeGroupDefinition" type="AttributeGroupDefinition"/>
	<xs:element name="AttributeSet" type="AttributeSet"/>
	<xs:element name="AttributeSetDefinition" type="AttributeSetDefinition"/>
	<xs:element name="AttributeSetDefinitionForModel" type="AttributeSetDefinitionForModel"/>
	<xs:element name="AttributeSetDefinitionForType" type="AttributeSetDefinitionForType"/>
	<xs:element name="AttributeSetForEntity" type="AttributeSetForEntity"/>
	<xs:element name="AttributeSetType" type="AttributeSetType"/>
	<xs:element name="AttributeType" type="AttributeType"/>
	<xs:element name="Audit" type="Audit"/>
	<xs:element name="AverageSynchType" type="AverageSynchType"/>
	<xs:element name="AverageType" type="AverageType"/>
	<xs:element name="AverageWeightType" type="AverageWeightType"/>
	<xs:element name="BaseType" type="BaseType"/>
	<xs:element name="BLOBDataType" type="BLOBDataType"/>
	<xs:element name="BreakdownStructure" type="BreakdownStructure"/>
	<xs:element name="BreakdownStructureTemplate" type="BreakdownStructureTemplate"/>
	<xs:element name="BreakdownStructureType" type="BreakdownStructureType"/>
	<xs:element name="CalculationType" type="CalculationType"/>
	<xs:element name="CalendaredWork" type="CalendaredWork"/>
	<xs:element name="CCOMClass" type="CCOMClass"/>
	<xs:element name="ChangePatternType" type="ChangePatternType"/>
	<xs:element name="CompletedWork" type="CompletedWork"/>
	<xs:element name="ConnectionType" type="ConnectionType"/>
	<xs:element name="CPBMeasurement" type="CPBMeasurement"/>
	<xs:element name="CPBSetup" type="CPBSetup"/>
	<xs:element name="CriticalityScaleType" type="CriticalityScaleType"/>
	<xs:element name="Cycle" type="Cycle"/>
	<xs:element name="DataQualityType" type="DataQualityType"/>
	<xs:element name="Document" type="Document"/>
	<xs:element name="DocumentForAsset" type="DocumentForAsset"/>
	<xs:element name="DocumentForModel" type="DocumentForModel"/>
	<xs:element name="DocumentForSegment" type="DocumentForSegment"/>
	<xs:element name="DocumentType" type="DocumentType"/>
	<xs:element name="EffectiveStatus" type="EffectiveStatus"/>
	<xs:element name="EffectiveStatusType" type="EffectiveStatusType"/>
	<xs:element name="EngineeringStudy" type="EngineeringStudy"/>
	<xs:element name="EngineeringStudyEntry" type="EngineeringStudyEntry"/>
	<xs:element name="EngineeringStudyEntryForAsset" type="EngineeringStudyEntryForAsset"/>
	<xs:element name="EngineeringStudyEntryForAssetType" type="EngineeringStudyEntryForAssetType"/>
	<xs:element name="EngineeringStudyEntryForModel" type="EngineeringStudyEntryForModel"/>
	<xs:element name="EngineeringStudyEntryForSegment" type="EngineeringStudyEntryForSegment"/>
	<xs:element name="EngineeringStudyEntryForSegmentType" type="EngineeringStudyEntryForSegmentType"/>
	<xs:element name="EngineeringStudyEntryType" type="EngineeringStudyEntryType"/>
	<xs:element name="EngineeringStudyType" type="EngineeringStudyType"/>
	<xs:element name="EntityContent" type="EntityContent"/>
	<xs:element name="Enumeration" type="Enumeration"/>
	<xs:element name="EnumerationItem" type="EnumerationItem"/>
	<xs:element name="Equivalency" type="Equivalency"/>
	<xs:element name="Event" type="Event"/>
	<xs:element name="EventLink" type="EventLink"/>
	<xs:element name="EventType" type="EventType"/>
	<xs:element name="Evidence" type="Evidence"/>
	<xs:element name="FFTMeasurement" type="FFTMeasurement"/>
	<xs:element name="FFTSetup" type="FFTSetup"/>
	<xs:element name="Function" type="Function"/>
	<xs:element name="FunctionAffectedByEvent" type="FunctionAffectedByEvent"/>
	<xs:element name="GeoPosition" type="GeoPosition"/>
	<xs:element name="GPSDatumType" type="GPSDatumType"/>
	<xs:element name="GPSElevationType" type="GPSElevationType"/>
	<xs:element name="GPSLocation" type="GPSLocation"/>
	<xs:element name="GPSPrecisionType" type="GPSPrecisionType"/>
	<xs:element name="GridTriggeredRegion" type="GridTriggeredRegion"/>
	<xs:element name="HealthAssessment" type="HealthAssessment"/>
	<xs:element name="HealthLevelType" type="HealthLevelType"/>
	<xs:element name="HighlightType" type="HighlightType"/>
	<xs:element name="HypotheticalEvent" type="HypotheticalEvent"/>
	<xs:element name="HypotheticalEventAmbiguitySet" type="HypotheticalEventAmbiguitySet"/>
	<xs:element name="HypotheticalEventLogicalConnector" type="HypotheticalEventLogicalConnector"/>
	<xs:element name="InfoSource" type="InfoSource"/>
	<xs:element name="InfoSourceType" type="InfoSourceType"/>
	<xs:element name="LifecycleStatus" type="LifecycleStatusHistory"/>
	<xs:element name="LifecycleStatusHistory" type="LifecycleStatusHistory"/>
	<xs:element name="LifecycleStatusType" type="LifecycleStatusType"/>
	<xs:element name="LifecycleStatusKindForType" type="LifecycleStatusKindForType"/>
	<xs:element name="LogicalConnector" type="LogicalConnector"/>
	<xs:element name="LogicalConnectorType" type="LogicalConnectorType"/>
	<xs:element name="LogisticResource" type="LogisticResource"/>
	<xs:element name="LogisticResourceComponent" type="LogisticResourceComponent"/>
	<xs:element name="LogisticResourceType" type="LogisticResourceType"/>
	<xs:element name="Manufacturer" type="Manufacturer"/>
	<xs:element name="MaterialItem" type="MaterialItem"/>
	<xs:element name="MaterialItemOnSegment" type="MaterialItemOnSegment"/>
	<xs:element name="MaterialMasterItem" type="MaterialMasterItem"/>
	<xs:element name="Measurement" type="Measurement"/>
	<xs:element name="MeasurementAssociation" type="MeasurementAssociation"/>
	<xs:element name="MeasurementGrid" type="MeasurementGrid"/>
	<xs:element name="MeasurementLocation" type="MeasurementLocation"/>
	<xs:element name="MeasurementLocationAssociation" type="MeasurementLocationAssociation"/>
	<xs:element name="MeasurementLocationRegion" type="MeasurementLocationRegion"/>
	<xs:element name="MeasurementLocationTriggeredRegion" type="MeasurementLocationTriggeredRegion"/>
	<xs:element name="MeasurementLocationType" type="MeasurementLocationType"/>
	<xs:element name="MeasurementSource" type="MeasurementSource"/>
	<xs:element name="MeasurementSourceType" type="MeasurementSourceType"/>
	<xs:element name="MeshType" type="MeshType"/>
	<xs:element name="Model" type="Model"/>
	<xs:element name="ModelForMaterialMasterItem" type="ModelForMaterialMasterItem"/>
	<xs:element name="ModelRevision" type="ModelRevision"/>
	<xs:element name="ModelVariant" type="ModelVariant"/>
	<xs:element name="MultiParameterType" type="MultiParameterType"/>
	<xs:element name="Network" type="Network"/>
	<xs:element name="NetworkForAgentRoleType" type="NetworkForAgentRoleType"/>
	<xs:element name="NetworkForAsset" type="NetworkForAsset"/>
	<xs:element name="NetworkForModel" type="NetworkForModel"/>
	<xs:element name="NetworkForSegment" type="NetworkForSegment"/>
	<xs:element name="NetworkHierarchy" type="NetworkHierarchy"/>
	<xs:element name="OffsetArrayMeasurement" type="OffsetArrayMeasurement"/>
	<xs:element name="OrderedEntityItem" type="OrderedEntityItem"/>
	<xs:element name="OrderedItem" type="OrderedItem"/>
	<xs:element name="OrderedList" type="OrderedList"/>
	<xs:element name="OrderedListForAsset" type="OrderedListForAsset"/>
	<xs:element name="OrderedListForModel" type="OrderedListForModel"/>
	<xs:element name="OrderedListForSegment" type="OrderedListForSegment"/>
	<xs:element name="OrderedListHierarchy" type="OrderedListHierarchy"/>
	<xs:element name="OrderedListType" type="OrderedListType"/>
	<xs:element name="OrderedLogisticResourceItem" type="OrderedLogisticResourceItem"/>
	<xs:element name="OrderedMeasLocationWithUOMItem" type="OrderedMeasLocationWithUOMItem"/>
	<xs:element name="OrderedMeasLocationWithUOMItemSignalProcessSetup" type="OrderedMeasLocationWithUOMItemSignalProcessSetup"/>
	<xs:element name="Organization" type="Organization"/>
	<xs:element name="OrganizationType" type="OrganizationType"/>
	<xs:element name="OSACBMDataType" type="OSACBMDataType"/>
	<xs:element name="OSACBMFunctionBlockType" type="OSACBMFunctionBlockType"/>
	<xs:element name="Port" type="Port"/>
	<xs:element name="PortIO" type="PortIO"/>
	<xs:element name="PostScalingType" type="PostScalingType"/>
	<xs:element name="PriorityLevelType" type="PriorityLevelType"/>
	<xs:element name="Property" type="Property"/>
	<xs:element name="PropertyDefinition" type="PropertyDefinition"/>
	<xs:element name="PropertyGroup" type="PropertyGroup"/>
	<xs:element name="PropertyGroupDefinition" type="PropertyGroupDefinition"/>
	<xs:element name="PropertySet" type="PropertySet"/>
	<xs:element name="PropertySetDefinition" type="PropertySetDefinition"/>
	<xs:element name="PropertySetDefinitionForModel" type="PropertySetDefinitionForModel"/>
	<xs:element name="PropertySetDefinitionForType" type="PropertySetDefinitionForType"/>
	<xs:element name="PropertySetForEntity" type="PropertySetForEntity"/>
	<xs:element name="PropertySetType" type="PropertySetType"/>
	<xs:element name="PropertyType" type="PropertyType"/>
	<xs:element name="ProposedEvent" type="ProposedEvent"/>
	<xs:element name="ProposedEventAmbiguitySet" type="ProposedEventAmbiguitySet"/>
	<xs:element name="ProposedEventForHypotheticalEvent" type="ProposedEventForHypotheticalEvent"/>
	<xs:element name="ProposedEventLogicalConnector" type="ProposedEventLogicalConnector"/>
	<xs:element name="PurchaseConditionType" type="PurchaseConditionType"/>
	<xs:element name="ReadinessType" type="ReadinessType"/>
	<xs:element name="Recommendation" type="Recommendation"/>
	<xs:element name="RecommendationFromEvent" type="RecommendationFromEvent"/>
	<xs:element name="RecommendationFromHealthAssessment" type="RecommendationFromHealthAssessment"/>
	<xs:element name="RecommendationWorkRequest" type="RecommendationWorkRequest"/>
	<xs:element name="RecommendationWorkStep" type="RecommendationWorkStep"/>
	<xs:element name="Region" type="Region"/>
	<xs:element name="RegionType" type="RegionType"/>
	<xs:element name="RegionValidDuringEventType" type="RegionValidDuringEventType"/>
	<xs:element name="RemainingLifeAssessment" type="RemainingLifeAssessment"/>
	<xs:element name="Request" type="Request"/>
	<xs:element name="RequestChild" type="RequestChild"/>
	<xs:element name="RequestForInformation" type="RequestForInformation"/>
	<xs:element name="RequestForWork" type="RequestForWork"/>
	<xs:element name="RequestType" type="RequestType"/>
	<xs:element name="Sample" type="Sample"/>
	<xs:element name="SampleHierarchy" type="SampleHierarchy"/>
	<xs:element name="Segment" type="Segment"/>
	<xs:element name="SegmentComponent" type="SegmentComponent"/>
	<xs:element name="SegmentConnection" type="SegmentConnection"/>
	<xs:element name="SegmentMesh" type="SegmentMesh"/>
	<xs:element name="SegmentNetwork" type="SegmentNetwork"/>
	<xs:element name="SegmentType" type="SegmentType"/>
	<xs:element name="SeverityLevelType" type="SeverityLevelType"/>
	<xs:element name="SignalProcessBlock" type="SignalProcessBlock"/>
	<xs:element name="SignalProcessBlockInStream" type="SignalProcessBlockInStream"/>
	<xs:element name="SignalProcessBlockType" type="SignalProcessBlockType"/>
	<xs:element name="SignalProcessSetup" type="SignalProcessSetup"/>
	<xs:element name="SignalProcessStream" type="SignalProcessStream"/>
	<xs:element name="SignalProcessStreamType" type="SignalProcessStreamType"/>
	<xs:element name="SingleDataMeasurement" type="SingleDataMeasurement"/>
	<xs:element name="Site" type="Site"/>
	<xs:element name="SiteType" type="SiteType"/>
	<xs:element name="SolutionPackage" type="SolutionPackage"/>
	<xs:element name="SolutionPackageHierarchy" type="SolutionPackageHierarchy"/>
	<xs:element name="SolutionPackageStep" type="SolutionPackageStep"/>
	<xs:element name="SolutionPackageType" type="SolutionPackageType"/>
	<xs:element name="SourceDetectorType" type="SourceDetectorType"/>
	<xs:element name="StandardDataType" type="StandardDataType"/>
	<xs:element name="SubstantiatedByMeasurement" type="SubstantiatedByMeasurement"/>
	<xs:element name="Taxonomy" type="Taxonomy"/>
	<xs:element name="TaxonomySet" type="TaxonomySet"/>
	<xs:element name="Test" type="Test"/>
	<xs:element name="TestComponent" type="TestComponent"/>
	<xs:element name="TestComponentRegion" type="TestComponentRegion"/>
	<xs:element name="TestComponentType" type="TestComponentType"/>
	<xs:element name="TestComponentTypeRegion" type="TestComponentTypeRegion"/>
	<xs:element name="TestGroup" type="TestGroup"/>
	<xs:element name="TestGroupComponent" type="TestGroupComponent"/>
	<xs:element name="TestType" type="TestType"/>
	<xs:element name="TimestampedEvent" type="TimestampedEvent"/>
	<xs:element name="TimeWaveformMeasurement" type="TimeWaveformMeasurement"/>
	<xs:element name="TimeWaveformSetup" type="TimeWaveformSetup"/>
	<xs:element name="Transducer" type="Transducer"/>
	<xs:element name="TransducerAxisDirectionType" type="TransducerAxisDirectionType"/>
	<xs:element name="TransducerType" type="TransducerType"/>
	<xs:element name="TriggeredRegionMeasurement" type="TriggeredRegionMeasurement"/>
	<xs:element name="TriggeredRegionTestComponent" type="TriggeredRegionTestComponent"/>
	<xs:element name="TypeConnection" type="TypeConnection"/>
	<xs:element name="TypeNetwork" type="TypeNetwork"/>
	<xs:element name="UnitOfMeasure" type="UnitOfMeasure"/>
	<xs:element name="UOMQuantity" type="UOMQuantity"/>
	<xs:element name="VectorMeasurement" type="VectorMeasurement"/>
	<xs:element name="VectorRegion" type="VectorRegion"/>
	<xs:element name="VectorSetup" type="VectorSetup"/>
	<xs:element name="WindowType" type="WindowType"/>
	<xs:element name="Work" type="Work"/>
	<xs:element name="WorkManagementType" type="WorkManagementType"/>
	<xs:element name="WorkOrder" type="WorkOrder"/>
	<xs:element name="WorkOrderHierarchy" type="WorkOrderHierarchy"/>
	<xs:element name="WorkRequest" type="WorkRequest"/>
	<xs:element name="WorkStatus" type="WorkStatus"/>
	<xs:element name="WorkStatusType" type="WorkStatusType"/>
	<xs:element name="WorkStep" type="WorkStep"/>
	<xs:element name="WorkTaskType" type="WorkTaskType"/>

</xs:schema>
