XSD/BOD/Messages/Work/AcknowledgeRequestsForWork.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns="http://www.mimosa.org/ccom4"
	targetNamespace="http://www.mimosa.org/ccom4"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import schemaLocation="../../OAGIS/Meta.xsd" namespace="http://www.openapplications.org/oagis/9"/>
	<xs:import namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" schemaLocation="../../../XSD/CoreComponentType_2p0.xsd"/>
	<xs:include schemaLocation="../CCOMElements.xsd"/>

	<xs:element name="AcknowledgeRequestsForWork">
		<xs:annotation>
			<xs:documentation xml:lang="en">
Indicates to the original sending system that the requests for work have been processed, returning 
any associated work requests or work orders (nested in the 'ActiveWork' element of the RequestForWork).

Contextual information can be sent with the RequestForWork to ensure the receiving system has all the 
information generated by the processing of the request.
Such information may include:
* the functional location (segment), asset, or list of resources on which the work request/orders have been based
* the system Agent(s) who is requesting the work
* the Agent who is requested to perform the work and/or will perform the work
* the SolutionPackage (pre-planned work order) to be used (if any)
* the Event, EngineeringStudyEntry, and/or Recommendation that is the reason for the Request for Work

The acknowledgement **must** include the information owned, or otherwise added, by the responding system, 
typically: the work request, work order, solution package, and the agents who will perform the work.

While the information provided as part of the Process request can be included in the response, it is best if
such information is not included unless it has been updated in some way.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="oa:BusinessObjectDocumentType">
					<xs:sequence>
						<xs:element name="DataArea">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="oa:Acknowledge"/>
									<xs:element name="RequestsForWork" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:choice minOccurs="0" maxOccurs="1">
													<xs:element name="Segment" type="Segment" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Asset" type="Asset" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderedList" type="OrderedList" minOccurs="1" maxOccurs="1"/>
												</xs:choice>
												<xs:element name="Agent" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
												<xs:element name="SolutionPackage" type="SolutionPackage" minOccurs="0" maxOccurs="1"/>
												<xs:element name="TimestampedEvent" type="TimestampedEvent" minOccurs="0" maxOccurs="unbounded"/>
												<xs:element name="EngineeringStudyEntry" type="EngineeringStudyEntry" minOccurs="0" maxOccurs="unbounded"/>
												<xs:element name="Recommendation" type="Recommendation" minOccurs="0" maxOccurs="1"/>
												<xs:element name="RequestForWork" type="RequestForWork" minOccurs="1" maxOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
